.faq {
    margin: 0 auto;
    max-width: 1110px;

    &__title {
        margin: 0;
        font-size: 48px;
        color: #495567;
        margin-top: 120px;
        font-weight: bold;
        line-height: 48px;
        font-style: normal;
        text-align: center;
        letter-spacing: -2.14286px;
        font-family: "Space Mono", "Arial", sans-serif;
    }

    &__top,
    &__bottom {
        display: flex;
        margin: 0 auto;
        margin-top: 64px;
        justify-content: space-between;
    }


    .top__title,
    .bottom__title {
        font-size: 40px;
        max-width: 350px;
        color: #495567;
        line-height: 48px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: -1.78571px;
        font-family: "Space Mono", "Arial", sans-serif;
    }
}

.box {
    max-width: 730px;

    &__title-up, &__title-down  {
        margin: 0;
        font-size: 24px;
        max-width: 650px;
        color: #495567;
        line-height: 28px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: -1.07143px;
        font-family: "Space Mono", "Arial", sans-serif;
    }

    &__dfn {
        font-size: 15px;
        color: #495567;
        margin-top: 24px;
        line-height: 25px;
        font-style: normal;
        font-weight: normal;
        font-family: "Lexend Deca", "Arial", sans-serif;
    }

    .div-1 {
        margin: 0;
        position: relative;
        margin-top: 16px;
        padding: 32px 40px;
        margin-bottom: 16px;
        background-color: #f2f5f9;
    }

    .box__title-up::after {
        content:"";
        z-index: 10;
        width: 16px;
        height: 8px;
        right: 40px;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(./../img/about/arrow-up.png);
    }

    .box__title-down::after {
        content:"";
        z-index: 10;
        width: 16px;
        height: 8px;
        right: 40px;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        background-image: url(./../img/about/arrow-up.png);
    }
}